/* For the loading display
------------------------*/
#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #005;
    color: white;
    z-index: 9999;
    text-align: center;
}

#cover > h1 {
    margin-top: 25%;
}


/* Main elements from top to bottom as they appear
------------------------------------------------*/
header {
    color: white;
    background: #449;
    padding: 1px 0;
    margin-bottom: 40px;
    border-bottom: solid 5px #225;
}

h1 {
    font-size: 5rem;
    margin-left: 20px;
    font-family: 'Bangers', cursive;
    text-shadow: 2px 2px #000;
}

header > p {
    font-size: 2rem;
    margin-left: 80px;
    font-family: 'Bangers', cursive;
    text-shadow: 2px 2px #000;
}

.container {
    font-family: 'Arvo', serif;
}


footer {
    color: white;
    background: #449;
    padding: 5px 0;
    margin-top: 20px;
    border-top: solid 3px #225;
}

footer > p {
    margin-left: 30px;
}


/* Styling the graphs
-------------------*/
svg {
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    text-transform: uppercase;
    font-weight: bold;
}

#stacked-line-chart {
    margin-right: auto;
}

@media (max-width: 768px) {
    #time-in-division-piechart {
        margin-left: 25%;
    }
}

th {
    background: #338;
    border: solid 1px white;
    color: white;
}

tr {
    background: #CCF;
    border: solid 1px white;
}

tr:first-child {
    background: #338;
    color: white;
}
