{% extends 'layout.html' %}
{% block content %}
    <div id="stacked-line-chart" class="col-md-9"></div>
    <div id="time-in-division-piechart" class="col-md-3"></div>
    <div style="clear:both;">
        <table id="seasons-data-table" class="col-sm-12">
            <thead>
                <tr>
                    <th>Season</th>
                    <th>Division</th>
                    <th>Played</th>
                    <th>Won</th>
                    <th>Draws</th>
                    <th>Lost</th>
                    <th>Scored</th>
                    <th>Conceded</th>
                    <th>Finishing Pos</th>
                    <th>Points</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}